HOST=127.0.0.1
PORT=8899
BATTLE_DATA_DIR=/var/lib/battleweld
BATTLE_ORIGINS=https://gorweldarc.com,https://www.gorweldarc.com
TRUST_PROXY=1
RECORDING_RETENTION_DAYS=30
BATTLE_RETENTION_DAYS=180
UNSTARTED_RETENTION_DAYS=7
BATTLE_CREATE_LIMIT_PER_HOUR=20
BATTLE_JOIN_LIMIT_PER_HOUR=60
BATTLE_SSE_LIMIT_PER_IP=20
BATTLE_ACTIVE_CAPACITY=2000
